In [38]:
import pandas as pd 
import numpy as np

In [39]:
dataset = pd.read_csv("heart.csv")

In [40]:
dataset.shape

(918, 12)

In [41]:
dataset.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [42]:
dataset.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [43]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 68.2+ KB

In [44]:
dataset.duplicated().sum()

0

In [45]:
dataset['Age'].unique()

array([40, 49, 37, 48, 54, 39, 45, 58, 42, 38, 43, 60, 36, 44, 53, 52, 51,
       56, 41, 32, 65, 35, 59, 50, 47, 31, 46, 57, 55, 63, 66, 34, 33, 61,
       29, 62, 28, 30, 74, 68, 72, 64, 69, 67, 73, 70, 77, 75, 76, 71],
      dtype=int64)

In [46]:
dataset['Sex'].unique()

array(['M', 'F'], dtype=object)

In [47]:
dataset['ChestPainType'].unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [48]:
dataset['RestingBP'].unique()

array([140, 160, 130, 138, 150, 120, 110, 136, 115, 100, 124, 113, 125,
       145, 112, 132, 118, 170, 142, 190, 135, 180, 108, 155, 128, 106,
        92, 200, 122,  98, 105, 133,  95,  80, 137, 185, 165, 126, 152,
       116,   0, 144, 154, 134, 104, 139, 131, 141, 178, 146, 158, 123,
       102,  96, 143, 172, 156, 114, 127, 101, 174,  94, 148, 117, 192,
       129, 164], dtype=int64)

In [49]:
std = np.round(dataset['Age'].std(), 2)
print(std)

9.43

In [50]:
std1 = np.round(dataset['RestingBP'].std(), 2)
print(std1)

18.51

In [51]:
std2 = np.round(dataset['Cholesterol'].std(), 2)
print(std2)

109.38

In [52]:
std3 = np.round(dataset['FastingBS'].std(), 2)
print(std3)

0.42

In [53]:
std4 = np.round(dataset['MaxHR'].std(), 2)
print(std4)

25.46

In [54]:
std5 = np.round(dataset['Oldpeak'].std(), 2)
print(std5)

1.07

In [55]:
std6 = np.round(dataset['HeartDisease'].std(), 2)
print(std6)

0.5

In [56]:
correlation = dataset.corr()

<ipython-input-56-90174128e0b2>:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation = dataset.corr()

In [57]:
print(correlation)

                   Age  RestingBP  Cholesterol  FastingBS     MaxHR   Oldpeak  \
Age           1.000000   0.254399    -0.095282   0.198039 -0.382045  0.258612
RestingBP     0.254399   1.000000     0.100893   0.070193 -0.112135  0.164803
Cholesterol  -0.095282   0.100893     1.000000  -0.260974  0.235792  0.050148
FastingBS     0.198039   0.070193    -0.260974   1.000000 -0.131438  0.052698
MaxHR        -0.382045  -0.112135     0.235792  -0.131438  1.000000 -0.160691
Oldpeak       0.258612   0.164803     0.050148   0.052698 -0.160691  1.000000
HeartDisease  0.282039   0.107589    -0.232741   0.267291 -0.400421  0.403951

              HeartDisease
Age               0.282039
RestingBP         0.107589
Cholesterol      -0.232741
FastingBS         0.267291
MaxHR            -0.400421
Oldpeak           0.403951
HeartDisease      1.000000

In [58]:
dataset.head(5)

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [59]:
dataset1 = pd.DataFrame(
[[40, 49, 37, 48, 54],
[140, 160, 130, 138, 150],
[289, 180, 283, 214, 195],
[0, 0, 0, 0],
[172, 156, 98, 108, 122]],
columns=['Age','RestingBP', 'Cholesterol','FastingBS','MaxHR'])

In [60]:
print(dataset1)

   Age  RestingBP  Cholesterol  FastingBS  MaxHR
0   40         49           37         48   54.0
1  140        160          130        138  150.0
2  289        180          283        214  195.0
3    0          0            0          0    NaN
4  172        156           98        108  122.0

In [61]:
dataset1.agg(['sum', 'min', 'max','mean','median','count','std'])

               Age   RestingBP  Cholesterol   FastingBS       MaxHR
sum     641.000000  545.000000   548.000000  508.000000  521.000000
min       0.000000    0.000000     0.000000    0.000000   54.000000
max     289.000000  180.000000   283.000000  214.000000  195.000000
mean    128.200000  109.000000   109.600000  101.600000  130.250000
median  140.000000  156.000000    98.000000  108.000000  136.000000
count     5.000000    5.000000     5.000000    5.000000    4.000000
std     114.158662   79.580148   109.431714   82.454836   59.061409

# Regression KNN

In [62]:
from sklearn.preprocessing import LabelEncoder

for col in dataset.columns:
 if (dataset[col].dtype=='object'):
  lb=LabelEncoder()
  dataset[col]=lb.fit_transform(dataset[col])

In [92]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

In [93]:
# Split the data into features and target variable
X = dataset.drop('Age', axis=1)  
y = dataset['Age']

In [94]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [95]:
# Create a KNN regressor model
knn = KNeighborsRegressor(n_neighbors=5)

In [96]:
# Fit the model to the training data
knn.fit(X_train, y_train)

# Make predictions on the test data
y_pred = knn.predict(X_test)

In [97]:
# Calculate the mean squared error (MSE) as a measure of performance
mse = mean_squared_error(y_test, y_pred)
print('Mean Squared Error:', mse)

Mean Squared Error: 97.38282608695654

# classification

In [98]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
X = dataset.drop('HeartDisease', axis=1)
y = dataset['HeartDisease']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [99]:
DT = DecisionTreeClassifier()
DT.fit(X_train, y_train)
y_pred = DT.predict(X_test)
print('Model accuracy score: {0:0.4f}'. format(accuracy_score(y_test, y_pred)))

Model accuracy score: 0.7935

In [ ]:
# done by jumana & Roa'a